@media screen and (max-width: 768px) {
  div.display {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

.madculator{
  display: flex;
  flex-direction: column;
  background-color: #222831;
  border-radius: 1rem;
  max-width: 90vw;
  margin: auto;
  position: relative;
  border-style: solid;
  transition: transform 0.7s ease;
}

.header{
  position: relative;
  padding: 1rem;
  display: flex;
  font-size: var(--normal-font-size);
  color: #f5f9ee;
}

.display-container{
  padding: 1rem;
  max-width: 100%;
}

.display{
  height: 6rem;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  background-color: #b6cdbd;
  box-shadow: 0 0 0 0.3rem #393e46 inset;
  outline-color: #393e46;
  outline-style: solid;
  outline-width: 0.2rem;
  outline-offset: -1px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.on{
  background-color: #ddeedf;
  box-shadow: 0 0 0 0.2rem #393e46 inset,
    0 0 0 0.3rem rgba(57, 62, 70, 0.6) inset,
    0 0 0.3rem 0.3rem #f2f9f1 inset;
}

#display-text{
  color: #141010;
  font-size: var(--display-font-size);
  padding: 0 0.3rem;
  word-spacing: 0;
  -webkit-animation: flickering 10s linear infinite;
          animation: flickering 10s linear infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes flickering {
  0%{opacity: 1; transform: scale3d(1.01, 1.01, 1.05);}
  25%{opacity: 0.9; transform: scale3d(1, 1, 1.02);}
  50%{opacity: 0.8; transform: scale3d(1.01, 1.01, 1.05);}
  75%{opacity: 0.9; transform: scale3d(1, 1, 1.02);}
}

@keyframes flickering {
  0%{opacity: 1; transform: scale3d(1.01, 1.01, 1.05);}
  25%{opacity: 0.9; transform: scale3d(1, 1, 1.02);}
  50%{opacity: 0.8; transform: scale3d(1.01, 1.01, 1.05);}
  75%{opacity: 0.9; transform: scale3d(1, 1, 1.02);}
}

.buttons-container{
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}