.madculator{
  display: flex;
  flex-direction: column;
  background-color: #222831;
  border-radius: 1rem;
  max-width: 90vw;
  margin: auto;
  position: relative;
  border-style: solid;
}

.header{
  position: relative;
  padding: 1rem;
  display: flex;
  font-size: var(--normal-font-size);
  color: #f5f9ee;
}

.display-container{
  padding: 1rem;
}

.display{
  height: 5rem;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  background-color: #ddeedf;
  box-shadow: 0 -0 0px 0.3rem #393e46 inset;
  outline-color: #393e46;
  outline-style: solid;
  outline-width: 0.2rem;
  outline-offset: -1px;
}

.display-text{
  color: #141010;
  font-size: var(--display-font-size);
}

.buttons-container{
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}