.madculator-black-button{
  background-color: #141010;
  outline-color: #050404;
  flex: 0 0 auto;
}

.madculator-normal-button{
  background-color: #455d7a;
  outline-color: #11171f;
  flex: 0 0 auto;
}

.madculator-orange-button{
  background-color: #f96d00;
  outline-color: #3f1b00;
  flex: 0 0 auto;
}

.icon-button {
  font-size: var(--madculator-smaller-button-size) !important;
  padding: 2rem calc((2rem + 1.25rem - 2.588rem)/2) !important;
}

.madculator-black-button,
.madculator-normal-button,
.madculator-orange-button{
  position: relative;
  font-size: var(--madculator-normal-button-size);
  color: #f2f2f2;
  box-shadow: 0 -3px 0 3px rgba(0,0,0,0.75) inset;
  outline-style: solid;
  outline-width: 0.2rem;
  outline-offset: -1px;
  padding: 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale3d(1.1, 1.1, 1.2);
}

.madculator-black-button:hover,
.madculator-normal-button:hover,
.madculator-orange-button:hover{
  color: #e3e3e3;
  cursor: pointer;
}

.madculator-black-button:active,
.madculator-normal-button:active,
.madculator-orange-button:active{
  transform: scale3d(1, 1, 1);
  box-shadow: 0 -5px 0 3px rgba(0,0,0,0.75) inset;
}